/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Freehand&family=Nunito:wght@300;400;500&family=Pacifico&display=swap');


/* Color Pallet*/
:root {
    --black: #141414;
    --white: #FAFAFF;
    --yellow: #FBAE17;
}

/* Element Styling */
html,
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-color: var(--black);
    font-family: 'Nunito', sans-serif;
    color: var(--white);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    width: 100vw;
}

h1 {
    margin: 0.1em;
    box-sizing: border-box;
    padding: 0em 0.2em 0em 0.5em;
    font-size: 3.5em;
    font-family: 'Dr Sugiyama', cursive;
    font-style: italic;}

.thumbnails {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 70vw;
    padding: 0.2em 1em 0em 1em;
    list-style: none;
}

input {
    -webkit-tap-highlight-color: transparent;
    opacity: 70%;
    transition: 0.3s;
    border-style: inset;
    border-color: rgba(251, 174, 23, 0.90);
    border-width: 3.5px;
    border-radius: 5%;
    height: 9vh;
    /* border-width: 9px;
    border-radius: 15%;
    outline: 5px solid var(--black);
    outline-offset: -7px; */
}

input:hover {
    opacity: 100%;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    border-style: inset;
    border-color: rgba(251, 174, 23, 0.90);
    border-width: 3.5px;
    border-radius: 0%;
    /* add this height property to avoid weird off-screen behavior on mobile */
    height: 32vh;
    background-color: ghostwhite;
    color: var(--black);
}

#pano {
    width: 100vw;
    height: 400px;
}

#map {
    width: 1px;
    height: 1px;
    visibility: hidden;
}

#art {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    padding: 1.5em;
}

#artInfo {
    /* split screen evenly with art image */
    flex: 1 1 40%;
    box-sizing: border-box;
    padding: 0.8em 0.25em 0 0;
}

#artist {
    margin-bottom: 0.2em;
    padding: 0;
    font-size: .9em;
}

#title {
    margin: 0.2em;
    padding: 0;
    font-size: .9em;
}

#year {
    margin: 0.2em;
    box-sizing: border-box;
    padding: 0;
    font-size: .7em;
    font-style: italic;
}

#galleryText {
    margin: 0;
    box-sizing: border-box;
    padding: 1% 5% 0% 0%;
    font-size: .7em;
}

footer {
    font-size: 0.8em;
    text-align: center;
    color: var(--yellow);
    color: rgba(251, 174, 23, 0.50);

}

.footerlink {
    transition: 0.3s;
    color: var(--yellow);
    color: rgba(251, 174, 23, 0.50);
}


.footerlink:hover {
    color: var(--yellow);
    color: rgba(251, 174, 23, 0.70);
}

/* Media Queries*/
@media only screen and (max-width: 800px) {
    h1 {
        padding-left: 0.5em;
        font-size: 3em;
    }

    #art {
        width: 100%;
        max-height: auto;
    }

    #galleryText {
        visibility: hidden;
    }

    #artist {
        font-size: .8em;
    }

    #title {
        font-size: .8em;
    }

    #year {
        font-size: .8em;
        font-style: italic;
    }

    input {
        height: 3.2em;
        width: auto;
    }

    /* .thumbnails {
        padding: 1em;
    } */

}